.create-movie {
  width: 100%;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.form-group label {
  width: 60%;
  margin: 0 auto 8px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
}

.submit-button:hover {
  background-color: var(--success-bg);
}
