/* src/components/Rating.css */
.save-rating-button {
  padding: 6px;
  gap: 5px;
  border-radius: 20%;
  background-color: var(--primary);
  color: var(--primaryBackground);
  outline: none;
  border: none;
}

.check-icon {
  font-size: 18px;
}